name: Build Windows Desktop App

on:
  push:
    branches:
      - main
      - master

jobs:
  build:
    name: Build Windows App
    runs-on: windows-latest
    steps:
      - name: Checkout Source
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install Dependencies
        run: npm install

      - name: Build Web App
        run: npm run build

      - name: Packaging Electron App
        run: npx electron-builder --windows --publish never -c.cscLink=null
        env:
          CSC_IDENTITY_AUTO_DISCOVERY: false
          CSC_SKIP_SIGNING: true
          DEBUG: electron-builder
          NODE_ENV: production

      - name: Upload Windows Setup
        uses: actions/upload-artifact@v4
        with:
          name: Pak-Cuisine-Pro-Setup.exe
          path: release/*.exe

      - name: Upload Windows Portable
        uses: actions/upload-artifact@v4
        with:
          name: Pak-Cuisine-Pro-Portable
          path: release/win-unpacked/**/*
